<div class="container">
  <br>
  <h1>Produtos</h1>
  <div class="flex-container">
    <div *ngFor="let item of produtos; index as i" class="produtos-container">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.produto.nome}}</h5>
          <p class="card-text">R$ {{item.produto.preco}}</p>
          <p class="card-text">{{item.produto.descricao}}</p>
          <p class="card-text">Unidades Restantes: {{item.produto.estoque}}</p>
          <label for="quantity{{i}}">Quantidade:</label>
          <input type="number" id="quantity{{i}}" name="quantity{{i}}" min="1" max="{{item.produto.estoque}}" [(ngModel)]="produtos[i].quantidade" value="{{item.quantidade}}">
          <br><br>
          <button type="button" [disabled]="produtos[i].quantidade == 0" (click)="comprar(item, quantidade)" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
